{% extends "html.html" %}
{% block main  %}
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/"><img style="height: 16px;width: 29px;" src="/static/img/AipuLogo.png" alt="艾普云">艾普云</a>
            <ul class="nav">
                <li class="divider-vertical"></li>
                <li class="active"><a href="/product">云－主机</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">云－应用</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">咨询及支持</a></li>
                <li class="divider-vertical"></li>
            </ul>
            {% if g.current_login_id %}
                <ul class="nav pull-right">
                    <li><a>{% if g.user.name %}{{ g.user.name }}{% else %}{{ g.user.email }}{% endif %}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            操作
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for("user.info") }}">我的帐户</a></li>
                            <li><a href="{{ url_for("index.dashboard") }}">我的控制台</a></li>
                            <li><a href="{{ url_for("product.order_list") }}">我的订单</a></li>
                            <li><a href="{{ url_for("user.logout") }}">退出帐户</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <form class="navbar-form pull-right" method="POST" action="{{ url_for("user.login") }}">
                    <input name="login_name" type="text" class="span2" placeholder="用户名">
                    <input name="password" type="password" class="span2" placeholder="密码">
                    <button type="submit" class="btn btn-primary">登陆</button>
                    &nbsp;&nbsp;
                    <a href="{{ url_for("user.create") }}" class="btn">注册</a>
                </form>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
{% endblock %}