{% extends "base_cal2.html" %}
{% block left %}
    {% include "user_nav.html" %}
{% endblock %}
{% block main %}
    <form class="form-horizontal" method="POST">
        <legend>修改登陆密码</legend>
        <div class="control-group">
            <label class="control-label" for="old_password">原密码</label>
            <div class="controls">
                <input type="password" id="old_password" name="oldpassword" placeholder="输入当前的登陆密码">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">新密码</label>
            <div class="controls">
                <input type="password" id="password" name="newpassword" placeholder="输入新的登陆密码">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="confirmPassword">确认密码</label>
            <div class="controls">
                <input type="password" id="confirmPassword" name="confirmpassword" placeholder="重复输入密码">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn-primary" type="submit">确认修改密码</button>
            </div>
        </div>
    </form>
{% endblock %}