{% extends "mid_base.html" %}
{% block header %}
    <script type="text/javascript">
    var lock=false;
    function create(btn){
        if(lock){
            return;
        }
        if($("#instance_name").val()==""){
            pop_alert('err',"请填写实例名称");
            return;
        }
        if ($("#images").val()==""){
            pop_alert('err',"请选择一个操作系统");
            return ;
        }
        lock=true;
        $(btn).addClass("disabled");
        var params = {
                    up_id:"{{ user_product_id }}",
                    name:$("#instance_name").val(),
                    image_id:$("#images").val(),
                    secure:$("#secury").val()
               };
        $.post("{{ url_for("product.create_server") }}",params,function(d){
            if (d.r){
                $("#status_bar").html("<img src='/static/img/loading.gif'/>正在创建虚拟机......")
            }
            else{
                lock=false;
                pop_alert('err',"创建失败，请联系客服工程师协助处理");
            }
        });
    }
    function get_status(){
        $.post("{{ url_for("product.create_finish",user_product_id=user_product_id) }}",{},function(d){
            if(d.r){
                $("#status_bar").html();
                pop_alert("info","主机创建成功，3秒后返回我的控制台");
                setTimeout(function(){ Geolocation.href = '{{ url_for("index.dashboard") }}'; },3000);
            }else{
                setTimeout(function(){ get_status(); },5000);
            }
        });

    }
    $(function(){
        $("#create_btn").click(function(){
            create($(this));
        });
    });
    </script>
{% endblock %}
{% block mid %}
    <div id="process_show">
    </div>
    <div class="page-header">
        <h1>创建虚拟机实例<small><a href="{{ url_for("index.dashboard") }}">返回我的控制台</a> </small></h1>
    </div>
    <div id="status_bar"></div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="instance_name">实例名称</label>
            <div class="controls">
                <input name="name" type="text" id="instance_name" placeholder="实例名称">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="images">操作系统</label>
            <div class="controls">
                <select id="images" name="image_id">
                    <option value="">请选择操作系统</option>
                    {% for image in images %}
                    <option value="{{ image.id }}">{{ image.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="images">安全组</label>
            <div class="controls">
                <select id="secury" name="secury">
                    <option value="default">默认安全组</option>
                </select>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" id="create_btn" class="btn btn-primary">开始创建虚拟机实例</button>
            <a type="button" class="btn" href="">Cancel</a>
        </div>
    </form>
{% endblock %}