{% extends "mid_base.html" %}
{% block mid %}
    <blockquote xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <p>未完成订单</p>
        <small>未付款以及未完工的订单</small>
    </blockquote>
    <table class="table">
        <thead>
        <tr>
            <td>生成时间</td>
            <td>订单号</td>
            <td>折扣金额</td>
            <td>合计金额</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2012年10月1日22时22分</td>
            <td><strong>AP002313</strong></td>
            <td>3000$</td>
            <td>3000$</td>
            <td>正在处理</td>
            <td><a href="order/AP002313" class="btn">查看订单详情</a>&nbsp;&nbsp;<button class="btn btn-danger">取消订单</button></td>
        </tr>
        </tbody>
    </table>
    <blockquote>
        <p>我的主机</p>
        <small>已经完工的可用主机</small>
    </blockquote>
    <table class="table">
        <thead>
        <tr>
            <td>主机名称</td>
            <td>操作系统</td>
            <td>CPU</td>
            <td>内存</td>
            <td>存储</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>经济A型</td>
            <td>CentOS6.2</td>
            <td>1核</td>
            <td>512M</td>
            <td>10G</td>
            <td>准备创建</td>
            <td>
                <button class="btn-primary" type="button">创建实例</button>
            </td>
        </tr>
        <tr>
            <td>经济B型</td>
            <td>CentOS6.2</td>
            <td>1核</td>
            <td>512M</td>
            <td>10G</td>
            <td>正常运行</td>
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        操作主机
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">重启</a></li>
                        <li><a href="#">关机</a></li>
                        <li><a href="#">打开VNC</a></li>
                        <li><a href="#">申请删除</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}