{% extends "mid_base.html" %}
{% block mid %}
    {% if success %}
        <div class="alert alert-success"><span>{{ success }}</span><a class="close" data-dismiss="alert" href="#">&times;</a></div>
    {% endif %}
    {% if info %}
        <div class="alert alert-info"><span>{{ info }}</span><a class="close" data-dismiss="alert" href="#">&times;</a></div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger"><span>{{ error }}</span><a class="close" data-dismiss="alert" href="#">&times;</a></div>
    {% endif %}
    <form class="form-horizontal" method="POST">
        <legend>找回密码</legend>
        <div class="control-group">
            <label class="control-label" for="new_email">注册邮箱地址</label>
            <div class="controls">
                <div class="input-append">
                    <input name="email" class="span3" id="new_email" size="30" type="text"><button class="btn" type="submit">发出找回密码申请</button>
                </div>
                <p>
                    提交后系统会向注册邮箱地址发出确认邮件，点击邮件中链接进入重设密码页面
                </p>
            </div>
        </div>
    </form>
{% endblock %}