{% extends "mid_base.html" %}
{% block mid %}
    {% if errors %}
        {% for err in errors %}
            <div class="alert alert-danger"><span>{{ err }}</span><a class="close" data-dismiss="alert" href="#">&times;</a></div>
        {% endfor %}
    {% endif %}
    <form class="form-horizontal" method="POST" action="">
        <legend>登陆爱普云平台</legend>
        <div class="control-group">
            <label class="control-label" for="inputEmail">登陆邮箱</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">@</span><input type="text" id="inputEmail" name="login_name" placeholder="输入注册邮箱地址">
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">登陆密码</label>
            <div class="controls">
                <input type="password" id="inputPassword" name="password" placeholder="输入登陆密码">
            </div>
        </div>
        <div class="control-group">
            <div class="controls"><button class="btn btn-primary" type="submit">登陆云平台</button>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for("user.find_password") }}">找回密码</a></div>
        </div>
    </form>
{% endblock %}