{% extends "mid_base.html" %}
{% block content %}
    <div class="page-header">
        <h1>订单列表<small></small></h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>生成时间</td>
                <td>订单号</td>
                <td>折扣金额</td>
                <td>合计金额</td>
                <td>状态</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2012年10月1日22时22分</td>
                <td><strong>AP002313</strong></td>
                <td>3000$</td>
                <td>3000$</td>
                <td>正在处理</td>
                <td><a href="order/AP002313" class="btn">查看订单详情</a>&nbsp;&nbsp;<button class="btn btn-danger">取消订单</button></td>
            </tr>
        </tbody>
    </table>
{% endblock %}