{% extends "mid_base.html" %}
{% block content %}
    <div class="page-header">
        <h1>订单列表<small></small></h1>
    </div>
    {% if total %}
    <table class="table">
        <thead>
        <tr>
            <td>生成时间</td>
            <td>订单号</td>
            <td>合计金额</td>
            <td>优惠合计金额</td>
            <td>状态</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.create_time }}</td>
                <td><strong>{{ order.serial_number }}</strong></td>
                <td>{{ order.total_fee }} ¥</td>
                <td>{{ order.favor_fee }} ¥</td>
                <td>{{ order.status | order_status }}</td>
                <td><a href="{{ url_for("product.order_Detail",order_id=order.id) }}" class="btn">查看订单详情</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "pager.html" %}
    {% else %}
        您还没有订单
    {% endif %}
{% endblock %}