{% extends "base_cal2.html" %}
{% block left %}
{% endblock %}
{% block main %}
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>经济A型</h3>
                    <p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><b>OS</b></td>
                            <td>CentOS6.2</td>
                        </tr>
                        <tr>
                            <td><b>CPU</b></td>
                            <td>1核</td>
                        </tr>
                        <tr>
                            <td><b>内存</b></td>
                            <td>512M</td>
                        </tr>
                        <tr>
                            <td><b>存储</b></td>
                            <td>10G</td>
                        </tr>
                        </tbody>
                    </table>
                    </p>
                    <p>
                        20/月&nbsp;&nbsp;50/季&nbsp;&nbsp;180/年
                    </p>
                    <p>
                        <button class="btn btn-primary">添加到购物车</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>经济A型</h3>
                    <p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><b>OS</b></td>
                            <td>CentOS6.2</td>
                        </tr>
                        <tr>
                            <td><b>CPU</b></td>
                            <td>1核</td>
                        </tr>
                        <tr>
                            <td><b>内存</b></td>
                            <td>512M</td>
                        </tr>
                        <tr>
                            <td><b>存储</b></td>
                            <td>10G</td>
                        </tr>
                        </tbody>
                    </table>
                    </p>
                    <p>
                        20/月&nbsp;&nbsp;50/季&nbsp;&nbsp;180/年
                    </p>
                    <p>
                        <button class="btn btn-primary">添加到购物车</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>经济A型</h3>
                    <p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><b>OS</b></td>
                            <td>CentOS6.2</td>
                        </tr>
                        <tr>
                            <td><b>CPU</b></td>
                            <td>1核</td>
                        </tr>
                        <tr>
                            <td><b>内存</b></td>
                            <td>512M</td>
                        </tr>
                        <tr>
                            <td><b>存储</b></td>
                            <td>10G</td>
                        </tr>
                        </tbody>
                    </table>
                    </p>
                    <p>
                        20/月&nbsp;&nbsp;50/季&nbsp;&nbsp;180/年
                    </p>
                    <p>
                        <button class="btn btn-primary">添加到购物车</button>
                    </p>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>经济A型</h3>
                    <p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><b>OS</b></td>
                            <td>CentOS6.2</td>
                        </tr>
                        <tr>
                            <td><b>CPU</b></td>
                            <td>1核</td>
                        </tr>
                        <tr>
                            <td><b>内存</b></td>
                            <td>512M</td>
                        </tr>
                        <tr>
                            <td><b>存储</b></td>
                            <td>10G</td>
                        </tr>
                        </tbody>
                    </table>
                    </p>
                    <p>
                        20/月&nbsp;&nbsp;50/季&nbsp;&nbsp;180/年
                    </p>
                    <p>
                        <button class="btn btn-primary">添加到购物车</button>
                    </p>
                </div>
            </div>
        </li>
    </ul>

{% endblock %}